body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 6rem;
    background: linear-gradient(to bottom, #000428, #004e92);
    color: white;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    overflow: scroll;
  }
  
  .container {
    text-align: center;
  }
  
  .message {
    font-size: 3em;
    font-weight: bold;
    animation: pulse 1.5s infinite ease-in-out;
    z-index: 10;
  }
  
  #typingEffect {
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 800px;
    white-space: pre-wrap;
    line-height: 1.8;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  